*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/*Header của trang*/
.header {
    /*overflow: hidden;*/
    /*background-image: linear-gradient(to left, white, green);*/
    background: black;
    padding: 17px;
    width: 100%;
    /*position: fixed;*/
    top : 0;
    border-bottom: 2px solid yellow;
}

.header a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.header > input{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    max-width: 200px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    color: white;
}

.header-right {
    text-align: center;
    float: right;
}

/*NextHeader*/

.NextHeader{
    background: gray;
    /*position: fixed;*/
    width: 100%;
    height: 40px;
    top: 60px;
    justify-content: space-around;
}

.NextHeader > .contain-NextHeader{
    padding-left: 250px;
    padding-top: 10px;
}

.NextHeader > .contain-NextHeader > a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    padding: 50px;
    margin-top: 100px;
}

.NextHeader a:hover{
    color: white;
}

.NextHeader a.active{
    color: white;
}

/*Contain-header*/
.Content-header{
    padding-top: 30px;
    margin-left: 250px;
    color: white;
    border-bottom: yellow solid 2px;
}

.Content-header > h2{
    margin: 0;
}

/*Thanh bên trái trang*/
.sidenav {
    height: 100%;
    width: 135px;
    /*position: fixed;*/
    z-index: 1;
    top: 101px;
    left: 0px;
    background-color: black;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav a {
    padding: 10px 7px 6px 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/*Nội dung trang*/
.BoxPicture{
    box-sizing: border-box;
    border-left: yellow solid 2px;
    border-right: yellow solid 2px;
    width: 1155px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
}

.BoxPicture > div.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.BoxPicture > div.container > div > h4{
    text-align: center;
    color: black;
}

.BoxPicture > div.container > div > img{
    max-width: 300px;
    height: auto;
    margin: 20px;
}

/* Slideshow container */
.slideshow-container {
    width: 1000px;
    position: revert;
    margin: auto;
    padding-top: 10px;
}

/* Caption text */

.mySlides{
    position: relative;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

@media screen and (max-width: 500px) {
    .header a {
        float: left;
        display: block;
        text-align: left;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .header-right {
        float: left;
    }
}

